@import 'common';
@import 'variables';
@import 'helpers';

.MxDock {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 1000;
    font-family: $font-family;
}

.MxDock__base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
$panel-padding: 24px;

.MxDock__toggle {
    width: 34px;
    height: 34px;
    font-size: 0;
    padding: 0;
    border: 0;
    background: url('../resources/img/dot_toggle.svg') 7px 7px no-repeat;
}

.MxDock__Setting {
    position: absolute;
    bottom: 24px;
}

.MxDock__panel {
    padding: $panel-padding;
    position: absolute;
    top: 0;
    width: 280px;
    height: 100%;
    background: white;
    box-shadow: 8px 0 20px 2px rgba(0, 0, 0, 0.1);
}

.MxDock__panel-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.MxDock__home {
    display: flex;
}

$menu-width: 200px;
$menu-top: 68px;
$nav-bar-height: 56px;

%MxDock__link {
    text-decoration: none;
    text-decoration-line: none !important;
    color: #555 !important;
    outline: 0;
    font-size: $font-size;
    transition: color 0.15s;
    &:hover {
        color: #0595db !important;
    }
}

.MxDock__nav-bar-menu,
%MxDock__nav-bar-menu {
    border: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
    top: 0;
    padding: 0 0 10px 40px;
    list-style-type: none;
}

.MxDock__nav-bar-menu--desktop {
    @extend %MxDock__nav-bar-menu;
    line-height: $font-size;
    @include speech-bubble(top, left);
    top: $menu-top;
    left: 14px;
    z-index: 1; // to avoid being covered by next nav-bar-item
}

.MxDock__nav-bar-item,
%MxDock__nav-bar-item {
    position: relative;
    height: 100%;
    background: white;
}

.MxDock__nav-bar-item-link,
%MxDock__nav-bar-item-link {
    @extend %MxDock__link;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 4px;
    &:hover {
        background: #ecf9ff;
    }
}

.MxDock__nav-bar-menu-item {
    margin-bottom: 10px;
    line-height: 24px;
    &:last-child {
        margin-bottom: 4px;
    }
}

.MxDock__nav-bar-menu-item-link {
    display: block;
    @extend %MxDock__link;
}

.MxDock__nav-bar-menu-toggle,
%MxDock__nav-bar-menu-toggle {
    width: 20px;
    height: 20px;
    text-align: center;
    background: url('../resources/img/header/gray-down.svg') 5px 8px no-repeat;
    border: none;
    cursor: pointer;
    font-size: 0;
    outline: none;
}

.MxDock__nav-bar-menu-toggle--open {
    @extend %MxDock__nav-bar-menu-toggle;
    background: url('../resources/img/header/blue-down.svg') 5px 8px no-repeat;
    transform: rotate(180deg) translate(0, 0);
}
